   .body2{
    background-color: #23242a;
    min-height: 87vh; 
    }

    .about3{
    color: rgb(255, 255, 255);
    margin-bottom: 110px;
    font-size: 27px;
    }

    .div{
     display: flex;
     justify-content: space-between;
    }

    .h1{
    color: white;
    text-align: center;
    }